# # Server
# DB_HOST=localhost\BAOKHANHTH
# DB_PORT=1433
# DB_USERNAME=sa
# DB_PASSWORD=123456
# DB_DATABASE=football_db

# # App
PORT=5000
DB_HOST=WINDOWS-PC
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=Admin@123
DB_DATABASE=QuanLyDatSan